body {

    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: lightseagreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bigcontainer {
  
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: lightblue;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    
}

.highcontainer {

height: 33.3vh;
width: 100vw;
background-color: antiquewhite;
padding: 0%;
margin: 0%;
display: flex;
justify-content: center;
flex-direction: row-reverse;
justify-content: space-between;

}

.lefticons {
    
    height: 7em;
    width: 50em;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* margin-top: -10em;
    /* margin-right: -33em; */
    /* margin-left: -30em;  */
}

.logo {
    height: 4em;
    width: 5em;
    background-color: royalblue;
    display: flex;
    flex-direction: center;
    align-items: center;
    flex-direction: column;


}

.inicio {

    height: 4em;
    width: 5em;
    background-color: royalblue;
    display: flex;
    flex-direction: center;
    align-items: center;
    flex-direction: column;



} 

.seriestv {

    height: 4em;
    width: 5em;
    background-color: royalblue;
    display: flex;
    flex-direction: center;
    align-items: center;
    flex-direction: column;


}

.peliculas {

    height: 4em;
    width: 5em;
    background-color: royalblue;
    display: flex;
    flex-direction: center;
    align-items: center;
    flex-direction: column;

}

.novedadesmas {

    height: 4em;
    width: 5em;
    background-color: royalblue;
    display: flex;
    flex-direction: center;
    align-items: center;
    flex-direction: column;



}

.milista {

    height: 4em;
    width: 5em;
    background-color: royalblue;
    display: flex;
    flex-direction: center;
    align-items: center;
    flex-direction: column;


}


.righticons {
    
    height: 5em;
    width: 15em;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 4em;
    margin-right: -95em;
    margin-left: -15em; */   
}

.triangulocuenta {
    
    height: 2em;
    width: 2em;
    background-color: lightgreen;
    /* margin-right: -3em; */
    
}

.usuario {

    height: 2em;
    width: 2em;
    background-color:lightgoldenrodyellow;
    /* margin-right: -3em; */
}

.campana {

    height: 2em;
    width: 2em;
    background-color:lightgray;
    /* margin-right: 3em; */

}

.regalo {

    height: 2em;
    width: 2em;
    background-color:lightsalmon;
    /* margin-left: -7em; */

}

.lupa {

    height: 2em;
    width: 2em;
    background-color:lightpink;
    /* margin-left: -6em ;*/
} 



.midcontainer {

height: 33.3vh;
width: 100vw;
background-color: lightgreen;
flex-direction: row;
display: flex;
justify-content: center;
align-items: center;
justify-content: space-around;
}

.midfilm1 {

height: 30vh;
width: 18vw;
background-color: lightpink;
       
}

.midfilm2 {
    height: 24vh;
    width: 18vw;
    background-color: lightcoral;

}

.midfilm3 {

    height: 24vh;
    width: 18vw;
    background-color: lightgoldenrodyellow
}

.midfilm4 {

    height: 24vh;
    width: 18vw;
    background-color: lightseagreen

}

.midfilm5 {

    height: 24vh;
    width: 18vw;
    background-color: lightskyblue
}
.lowcontainer {

    height: 33.3vh;
    width: 100vw;
    background-color: lightgray;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;

}

.lowfilm1{

    height: 30vh;
    width: 18vw;
    background-color: darkorchid;


}

.lowfilm2 {

    height: 24vh;
    width: 18vw;
    background-color: lightpink;

}

.lowfilm3 {

    height: 24vh;
    width: 18vw;
    background-color: crimson;

}

.lowfilm4 { 

    height: 24vh;
    width: 18vw;
    background-color: lemonchiffon;

}

.lowfilm5 {

    height: 24vh;
    width: 18vw;
    background-color: violet;

}